{% unless customer %}
<style>
  #signup_modal {
    display: none !important;
  }
</style>
<script>
  sswRun(function() {
    ssw(document).on('click', '.ssw-reward-box-quest-btns .ssw-pull-left', function(e) {
      e.preventDefault();
      location.pathname = '/account/login';
    });
    ssw(document).on('click', '.ssw-reward-box-quest-btns .ssw-pull-right', function(e) {
      e.preventDefault();
      location.pathname = '/account/register';
    });
    ssw(document).on('click', '.ssw-reward-quest-btn', function(e) {
      e.preventDefault();
      ssw('.ssw-modal-backdrop').hide();
      location.pathname = '/pages/reward';
    });
  });
</script>
{% endunless %}