<div class="product-thumbnail">
  {% if settings.display_vendor %}
    <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
  {% endif %}

  <a href="{{ product.url | within: collection }}" class="product-thumbnail__title">{{ product.title }}</a>

  {% capture the_snippet_review_avg %}{% render 'ssw-widget-avg-rate-listing', product: product %}{% endcapture %}
  {% unless the_snippet_review_avg contains 'Liquid error' %}
  {{ the_snippet_review_avg }}
  {% endunless %}

  {% if collection_handles contains 'coming-soon' %}
    {% if settings.stickers_enabled == false %}
      {{ 'collections.general.coming_soon' | t }}
    {% endif %}
  {% else %}
    {% include 'sca_freegift_price' with product %}
    <span class="product-thumbnail__price price {% if sca_compare_at_price_max > sca_price %}sale{% endif %}">
      {% if product.available %}
        {% if sca_price_varies and sca_price_min > 0 %}
          <small><em>{{ 'products.general.from' | t }}</em></small>
        {% endif %}
        {% if sca_price_min > 0 %}
          <span class="money">{{ sca_price_min | money | remove:'.00' }}</span>
        {% else %}
          {{ settings.free_price_text }}
        {% endif %}
        {% if sca_compare_at_price_max > sca_price %}
          <span class="product-thumbnail__was-price was-price">
            <span class="money">{{ sca_compare_at_price_max | money | remove:'.00' }}</span>
          </span>
        {% endif %}
      {% else %}
        <span class="product-thumbnail__sold-out sold-out">{{ 'products.product.sold_out' | t }}</span>
      {% endif %}
    </span>
  {% endif %}
</div>
