{% include 'sca_freegift_price' with product %}
{% if type == 'product' and section.settings.show_payment_button %}
  {% assign show_payment_button = true %}
{% elsif type == 'product' and block.settings.show_payment_button %}
  {% assign show_payment_button = true %}
{% elsif type == 'quickshop' and settings.show_dynamic_checkout_button %}
  {% assign show_payment_button = true %}
{% else %}
  {% assign show_payment_button = false %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

<div class="clearfix product_form init smart-payment-button--{{ show_payment_button }} {% if sca_product_variantCount > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ settings.product_form_style }}"
      id="product-form-{{ product.id }}"
      data-product-form
      data-money-format="{{ shop.money_format }}"
      data-shop-currency="{{ shop.currency }}"
      data-select-id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}"
      data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
      data-product="{{ product | json | escape }}"
      {% if settings.limit_quantity or settings.display_inventory_left %}
        data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
      {% endif %}
      data-product-id="{{ product.id }}"
      >
  {% form 'product', product %}

  {% if sca_product_variantCount > 1 %}
    {% if product.options.size > 1 %}
      <div class="select-container">
          {% if type == 'quickshop' %}
            <div class="select">
          {% endif %}
          <select id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}" name="id" class="multi_select" data-variant-selector>
            {% for v in product.variants %}
            {% unless v.metafields.secomapp.freegifts %}
            {% unless v.title contains '(Freegifts)' %}
              <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-image-id="{{ v.featured_image.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {%endunless%}
            {%endunless%}
            {% endfor %}
          </select>
          {% if type == 'quickshop' %}
            </div>
          {% endif %}
      </div>
    {% elsif product.options.size == 1 and sca_product_variantCount > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select-container">
        <label class="label">{{ product.options[0] }}</label>
        <div>
          {% if type == 'quickshop' %}
            <div class="select">
          {% endif %}
          <select id="product-select-{{ product.id }}{{ product-form }}{{ object.id }}{{ block.id }}" name="id" data-variant-selector>
            {% for v in product.variants %}
            {% unless v.metafields.secomapp.freegifts %}
            {% unless v.title contains '(Freegifts)' %}
              <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-image-id="{{ v.featured_image.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {%endunless%}
            {%endunless%}
            {% endfor %}
          </select>
          {% if type == 'quickshop' %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <input type="hidden" name="id" value="{{ variant.id }}" />
  {% endif %}

  {% if sca_product_variantCount > 1 %}
    {% if settings.product_form_style == "swatches" and sca_product_variantCount > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options collection_swatches">
        {% for option in product.options %}
          {% include 'product__swatch', option: option %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {% if product.available %}
    {% if settings.display_inventory_left %}
      <p class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </p>
    {% endif %}

    <div class="purchase-details {% if settings.display_product_quantity %}has-quantity-box{% endif %}">
      {% if settings.display_product_quantity %}
        <div class="purchase-details__quantity product-quantity-box quantity-box--{{ settings.qty_box_style }}">
          {% include 'quantity-box' %}
        </div>
      {% endif %}
      {% comment %} Error message for add to cart action {% endcomment %}
      <div class="cart-warning"></div>
      <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}

        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
        <button type="{% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}button{% else %}submit{% endif %}" name="add" class="button {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} ajax-submit {% endif %}action_button button--add-to-cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }} data-add-to-cart-trigger>
          {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'left' %}
            {% include settings.icon, name: settings.button_cart_icon, icon_class: 'icon--cart' %}
          {% endif %}
          <span class="text">{{ add_to_cart_label }}</span>
          {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'right' %}
            {% include settings.icon, name: settings.button_cart_icon, icon_class: 'icon--cart icon--right' %}
          {% endif %}
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
            <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
          </svg>
        </button>
        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}
      </div>
     

    </div>
  {% endif %}
{% endform %}
<div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}"> </div>
</div>
