{% capture content %}
<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}" />

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  <link rel="preconnect dns-prefetch" href="https://fonts.shopifycdn.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://v.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  {% if settings.enable_shopify_review_comments %}
    <link rel="preconnect dns-prefetch" href="https://productreviews.shopifycdn.com" />
  {% endif %}

  {{ 'fancybox.css' | asset_url | stylesheet_tag }}
  <!-- Stylesheets for Flex "1.1.5" -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <script type="text/javascript" src="/services/javascripts/currencies.js" ></script>
  {% endif %}
  <script>
    {% include 'js-variables' %}
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="{{ 'vendors.js' | asset_url }}"></script>
  <script defer src="{{ 'utilities.js' | asset_url }}"></script>
  <script defer src="{{ 'app.js' | asset_url }}"></script>
  <script src="{{ 'custom.js' | asset_url }}"></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script defer src="{{ 'currencyConversion.js' | asset_url }}"></script>
  {%- endif -%}

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script defer type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="/services/javascripts/countries.js"></script>
  {%- endif -%}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */
    </style>
  </noscript>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer src="{{ 'customer_area.js' | shopify_asset_url }}"></script>
  {%- endif -%}

  {{ content_for_header }}

  {% include 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}
{% comment %}
{% include 'sca.freegifts' %}
{% include 'discount-combine' %}
{% include 'sca-quick-view-init' %}
 {% include 'scapp-customerinfo' %} 
{% endcomment %}
{% include 'sales-motivator-init' %}
<script src="https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/2.6.0/js-cloudimage-360-view.min.js"></script>  
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N575ZL3');</script>
<!-- End Google Tag Manager -->
<script>
  var customData = {
    'name' : '{{customer.first_name}} {{customer.last_name}}',
    'email' : '{{customer.email}}',
  }

  window._loq = window._loq || []    
  window._loq.push(['custom', customData])
</script>
  </head>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

<body class="{%- if template == '404' -%}
              error-404
            {% else -%}
              {{ template | replace: '.', '-' | handle }}
            {%- endif -%}
            {% if settings.header_layout == 'vertical' -%}
              has-vertical-header
            {%- endif -%}"
  data-money-format="{{ shop.money_format }}" data-shop-url="{{ shop.url }}">
{% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %}

  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}

  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% include 'ajax-cart' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}
<!-- <div class="loader"></div> -->
  {{ content_for_layout }}
      
      {% if page.handle == "new-our-stores" %}
      <div class="ssw-html-widget ssw-instagram-widget" data-widget="0" data-gallery_id="2" data-force="1" data-type="slide" data-module="service"  data-name="instagramPhotos">
        <div class="ssw-page-loading"><span class="ssw-spin ssw-loader"></span></div>
      </div>
      {% endif %}
{% section 'cst_free_products' %}
  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% include 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% include 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}


  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}
  
  <script>
    sswRun(function() {
      var sswRewardInterval = setInterval(function() {
        if (ssw('#ssw-reward-box .ssw-reward-box-menu').length) {
			ssw('#ssw-reward-box .ssw-reward-box-menu').text("");
          clearInterval(sswRewardInterval)
        }
      }, 1000);
    })
  </script>
  
  {% render 'gw-custom-scripts' %}
<script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.btstatic.com/tag.js#site=t4tmU86&referrer=" + encodeURIComponent(document.location.href) + "";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="//s.thebrighttag.com/iframe?c=t4tmU86" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
{% include 'sca-quick-view-template' %} 
 
{% render 'special-offers' %}

  
<script>
  (function() {
    var a = document.createElement("script");
    a.setAttribute("src", "https://content.adacado.com/productpixel/v1/shell.umd.js");
    a.setAttribute("data-advertiserid", "39648");
    a.setAttribute("id", "adavadael");
    a.setAttribute("async", "async");
    document.body.appendChild(a);
  })();
</script>
<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-left: unset;
  padding-right: unset;
  border: 1px solid #888;
  width: 682px;
  border-radius: 6px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  .cart__card.container.is-align-center .already{
  	border: 2px solid #e3e3e3;
  }
  .alr{
  	pointer-events: none;
  }
</style>
  
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N575ZL3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  
  {% if settings.free_sample_threshhold %}
  {% assign threshold2 = settings.free_sample_threshhold | remove: '$' | append: '00'  %}
  {% assign threshold = threshold2 | plus: 0  %}
  
  
 
    <script>
     var threshold = {{ threshold }};
      setInterval(function(){
        var txt = $('p.h3.cart__subtotal span.saso-cart-original-total span').text();
			  var total = 0;
        jQuery.getJSON('/cart.js', function(product) {
            
            jQuery.each(product.items, function(i,v){
              if(v.gift_card){
                  product.total_price -= v.price * v.quantity;
                  
              }else{
                  
              }
              if(product.total_price >= 1000){
                $('.samp').removeClass('hide_now1')
                  $('.row.ssmm').removeClass('hide_now1')
              }else{
                  $('.samp').addClass('hide_now1')
                  $('.row.ssmm').addClass('hide_now1')
              }
              
              if(product.total_price >= {{ threshold }}){
                  $('.row.unlocked').removeClass('hide_now')
              }else{
                  $('.row.unlocked').addClass('hide_now')
              }
                          
              if(product.total_price > 0 && product.total_price < {{ threshold }}){
                  $('.free_txt').removeClass('hide_now')
              }else{
                  $('.free_txt').addClass('hide_now')
              }

            });
          });
        }, 1000);

        function setpopup(){
          setTimeout(function(){
            jQuery.getJSON('/cart.js', function(product) {
              var totalprice = product.total_price;
              jQuery.each(product.items, function(i,v){
                if(v.gift_card){
                	product.total_price -= v.price * v.quantity;
                }
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").html("Added");
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").addClass("slalr sladded");
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").attr("disabled","disabled");
              });
              jQuery(".cart.items").html('Cart Total ('+product.item_count+') items: <strong>'+Shopify.formatMoney(product.original_total_price,currency_format+'</strong>'));

              var amount = 7500;
              if(product.total_price >= amount){
                jQuery(".shipping_unlocked").show();
                jQuery('.spend_more').hide()
              }else{
                var amount = 7500;
                var total = product.total_price;
                var spending = parseFloat(amount - total);
                var spendamount = Shopify.formatMoney(spending,Shopify.money_format);
                jQuery(".spend_amount").html(spendamount);
                jQuery(".shipping_unlocked").hide();
                jQuery(".spend_more").show();
              }
              {% assign threshold2 = settings.free_sample_threshhold | remove: '$' | append: '00'  %}
              {% assign threshold = threshold2 | plus: 0  %}
              var threshold = {{threshold}};
              if(threshold > 1 && product.total_price >= threshold ){
                console.log(555555555555555555555555555);
                jQuery(".modal_recommended").hide();
                jQuery(".modal_gwp_products").show();
                setTimeout(function(){
                  $('.modal_gwp_products .d-flex').flickity({
                      groupCells: 3,
                      wrapAround: true,
                      freeScroll: true,
                      pageDots: false,
                      arrowShape: 'M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z'
                    })
                }, 1000);

              }else{
                
                jQuery(".modal_recommended").show();
                jQuery(".modal_gwp_products").hide();
              }
            });
          },300);
          if (window.matchMedia("(max-width: 700px)").matches) {
            if($('.recommended_slider').hasClass('slick-initialized')){}else{
                    setTimeout(function(){
                      jQuery(".recommended_slider").slick({
                        dots: false,
                        infinite: true,
                        speed: 500,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        autoplay: false,
                        autoplaySpeed: 2000,
                        arrows: true,
                        nextArrow: "<span>&#x2192;<span>",
                        prevArrow: "<span>&#x2190;<span>",
                      });
                    }, 3000);
            }
          }

          jQuery("#myModal").show();
          $('.modal_gwp_products .col-md-12.text-center').html('Select your free gift!')
          jQuery("body").addClass("modal-opened");
        }
    </script>
  {% else %}
  {% assign threshold2 = settings.free_sample_threshhold | remove: '$' | append: '00'  %}
  {% assign threshold = threshold2 | plus: 0  %}
    <script>
        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }
        function setpopup(){
          //   jQuery(".shipping_unlocked, .spend_more").hide();
          setTimeout(function(){
            jQuery.getJSON('/cart.js', function(product) {
              jQuery.each(product.items, function(i,v){
                if(v.gift_card){
                	product.total_price -= v.price * v.quantity;
                }
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").html("Added");
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").addClass("slalr sladded");
                jQuery(".add_to_cart_section button[data-id="+v.id+"]").attr("disabled","disabled");
              });
              console.log(product);
              jQuery(".cart.items").html('Cart Total ('+product.item_count+') items: <strong>'+Shopify.formatMoney(product.original_total_price,currency_format+'</strong>'));

            
              var amount = 7500;
              if(product.total_price >= amount){
                jQuery(".shipping_unlocked").show();
                jQuery('.spend_more').hide()
              }else{
                var amount = 7500;
                var total = product.total_price;
                var spending = parseFloat(amount - total);
                var spendamount = Shopify.formatMoney(spending,Shopify.money_format);
                jQuery(".spend_amount").html(spendamount);
                jQuery(".shipping_unlocked").hide();
                jQuery(".spend_more").show();
              }
              jQuery(".modal_recommended").show();
            });
          },300);

  if($('.recommended_slider').hasClass('slick-initialized')){}else{
          setTimeout(function(){
            jQuery(".recommended_slider").slick({
              dots: false,
              infinite: true,
              speed: 500,
              slidesToShow: 3,
              slidesToScroll: 1,
              autoplay: false,
              autoplaySpeed: 2000,
              arrows: true,
              nextArrow: "<span>&#x2192;<span>",
              prevArrow: "<span>&#x2190;<span>",
            });
          }, 3000);
  }


            setTimeout(function(){
              $('.modal_gwp_products .d-flex').flickity({
                  groupCells: 3,
                  wrapAround: true,
                  freeScroll: true,
                  pageDots: false,
                  arrowShape: 'M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z'
                })

            }, 1000);


          jQuery("#myModal").show();
          $('.modal_gwp_products .col-md-12.text-center').html('Select your free gift!')
          jQuery("body").addClass("modal-opened");
        }
    </script>
  {% endif %}
  
  <script>
  {% assign threshold2 = settings.free_sample_threshhold | remove: '$' | append: '00'  %}
  {% assign threshold = threshold2 | plus: 0  %}
  var threshold ={{threshold}};
    var free_sample_price = {{settings.free_sample_price}};
    $(document).on("click",".ajax-cart__delete, .ajax-cart__product .quantity-minus", function(){
      var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
      if (isMobile) {
        setTimeout(mobileremovefreeproduct, 2000);
      }else{
        setTimeout(removefreeproduct, 2000);
      }
    });


    function mobileremovefreeproduct(){
      console.log("function mobile called");
      $.getJSON("/cart.js", function(res){
        $.each(res.items, function(i,v){
          if(v.gift_card){
            res.total_price -= v.price * v.quantity;
          }
        });
        if(res.items.length > 0){
          console.log("has_items");
          if(res.total_price >= free_sample_price && res.total_price <= {{ threshold }}){
            console.log("less than 5000");
            $(".mobile-header #theme-ajax-cart .ajax-cart__product").each(function(){
              if($(this).data("product-tag") == "bath_soak_mini" && $(this).data("price") == 0){
                console.log("less than 5000 in");
                $(this).find(".ajax-cart__delete").trigger("click");
              }
            });
          }else if(res.total_price == free_sample_price){
            console.log("equal to 1000");
            $(".mobile-header #theme-ajax-cart .ajax-cart__product").each(function(){
              if(($(this).data("product-tag") == "bath_soak_mini" || $(this).data("product-tag") == "BBLYSTGWP") && ($(this).data("price") == "0")){
                console.log("equal 1000 in ");
                $(this).find(".ajax-cart__delete").trigger("click");

              }
            });
          }else if(res.total_price < free_sample_price){
            console.log("less than 1000");
            $(".mobile-header #theme-ajax-cart .ajax-cart__product").each(function(){
              if($(this).data("price") == "0"){
               
                $(this).find(".ajax-cart__delete").trigger("click");

              }
            });
          }else{
            console.log("nothing");
            return false;
          }
        }
      });
    }

    function removefreeproduct(){
      console.log("function called");
      $.getJSON("/cart.js", function(res){
        $.each(res.items, function(i,v){
          if(v.gift_card){
            res.total_price -= v.price * v.quantity;
          }
        });
        if(res.items.length > 0){
          console.log(res);
          console.log("has_items");
          if(res.total_price >= free_sample_price && res.total_price <= {{ threshold }}){
            console.log("less than 5000");
            $(".ajax-cart__product:not(#mobile-header .ajax-cart__product)").each(function(){
              if($(this).data("product-tag") == "bath_soak_mini" && $(this).data("price") == 0){
                console.log("less than 5000 in");
                $(this).find(".ajax-cart__delete").trigger("click");
              }
            });
          }else if(res.total_price > free_sample_price){
            console.log("equal to 1000");
            $(".ajax-cart__product:not(#mobile-header .ajax-cart__product)").each(function(){
              if(($(this).data("product-tag") == "bath_soak_mini" || $(this).data("product-tag") == "BBLYSTGWP") && ($(this).data("price") == "0")){
                console.log("equal 1000 in ");
                $(this).find(".ajax-cart__delete").trigger("click");

              }
            });
          }else if(res.total_price < free_sample_price){
            console.log("less than 1000");
            $(".ajax-cart__product:not(#mobile-header .ajax-cart__product)").each(function(){
              if($(this).data("price") == "0"){
                console.log("less than 1000 in ");
                $(this).find(".ajax-cart__delete").trigger("click");

              }
            });
          }else{
            console.log("nothing");
            return false;
          }
        }
      });
    }


    $(document).on("click",".cart__remove-btn, .cart__item-list .cart__card .quantity-minus", function(){
      setTimeout(removefreeproduct2, 2000);
    });
    function getCookie(cname) {
      let name = cname + "=";
      let ca = document.cookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    function removefreeproduct2(){
          
      console.log("function22222 called");
      $.getJSON("/cart.js", function(res){
        $.each(res.items, function(i,v){
          if(v.gift_card){
            res.total_price -= v.price * v.quantity;
          }
        });
        if(res.items.length > 0){

          //cookie check funtion
          var cookie1_check=0;
          var cookie2_check=0;
          
          for (let i = 0; i < res.items.length; i++) {
            if(getCookie("product_newonefirst") == res.items[i].id){
              cookie1_check = cookie1_check + 1;
            }
            if(getCookie("product_newonesecond") == res.items[i].id){
              cookie2_check = cookie2_check + 1;
            }

          }
          //cookie reset
          if(cookie1_check < 1){
            document.cookie = "product_newonefirst" + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
          }
          if(cookie2_check < 1){
            document.cookie = "product_newonesecond" + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
          }
          console.log("has_items");

          if(res.total_price >= free_sample_price && res.total_price <= {{ threshold }}){
            console.log("less than 5000");
            $(".cart__item-list .cart__card").each(function(){
              if($(this).data("product-tag") == "bath_soak_mini" && $(this).data("price") == 0){
                console.log("less than 5000");
                $(this).find(".cart__remove-btn").trigger("click");
              }
            });
            if($('.product_grid.already').length == 0  && res.total_price <= {{ threshold }}){
              location.reload();
            }
          }else if(res.total_price == free_sample_price){
            console.log("equal to 1000");
            $(".cart__item-list .cart__card").each(function(){
              if(($(this).data("product-tag") == "bath_soak_mini" || $(this).data("product-tag") == "BBLYSTGWP") && ($(this).data("price") == "0")){
                console.log("equal 1000 in ");
                $(this).find(".cart__remove-btn").trigger("click");

              }
            });
          }else if(res.total_price < free_sample_price){
            console.log("less than 1000");
            $(".cart__item-list .cart__card").each(function(){
              if($(this).data("price") == "0"){
                console.log("less than 1000 in ");
                $(this).find(".cart__remove-btn").trigger("click");

              }
            });
          }else{
            console.log("nothing");
            return false;
          }
        }
      });
    }
    $(function(){
      
    })
  </script>
</body>
  
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
  // Liquid variables:
  var afterpay_product = {{ product | json }};
  var afterpay_product_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
</script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) -->