{% comment %}
** Cart page - main content area **
- Template section
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}
{% assign cart_total = cart.original_total_price %}
{% assign free_sample_price = free_sample_price | plus: 0%}
{% comment %} CSS {% endcomment %}
{% style %}
  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' -%}
      width: 100%;
      max-width: 95%;
    {%- endif %}
  }

  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<section class="section__wrapper section {{ css_class }}">

  <div class="container hide-when-banner-enabled cart__heading-container">
    {% capture heading_title %}{{ 'cart.general.title' | t }}{% endcapture %}
    {% include 'heading', title: heading_title, heading_tag: 'h1', context: 'cart-page', text_alignment: 'left' %}
  </div>
 
  
  {% if settings.show_free_products %}
    {% if cart_total >= 1000 %}
    <p class="samp ">Choose 2 free samples</p>
    <div class="row ssmm ">
      
    <div class="free_sample_options 1">
      <button class="open_popup" type="button">+</button>
      <img class="open_popup popimg" src="">
    </div>
    <div class="free_sample_options 2">
      <button class="open_popup" type="button">+</button>
      <img class="open_popup popimg" src="">
    </div>
      
    </div>
    {% endif %}

  {% endif %}
  
  <div class="container cart__empty-cart-message {% if cart.item_count > 0 %}is-hidden{% endif %}">
    <div class="column one-whole text-align-center has-padding-top has-padding-bottom">
      <h2 class="quote">{{ 'cart.general.continue_browsing_html' | t }}</h2>
      <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
    </div>
  </div>

  <div class="cart__form {% if cart.item_count == 0 %}is-hidden{% endif %}">
    <form action="{{ routes.cart_url }}" method="post" id="cart_form" class="{% if cart.item_count == 0 %}visuallyhidden{% endif %} quantity-box-enabled-{{ section.settings.display_product_quantity_cart }}">

      <div class="container medium-down--hide">
        <div class="cart__headings column">
          <div class="cart__product-title">
            <h3>{{'cart.general.products' | t }}</h3>
          </div>

          <div class="cart__price-title {% if section.settings.display_product_quantity_cart == false %}no-quantity-box{% endif %}">
            <h3>{{'cart.general.price' | t }}</h3>
          </div>

          {% if section.settings.display_product_quantity_cart %}
            <div class="cart__quantity-title">
              <h3>{{'cart.general.quantity' | t }}</h3>
            </div>
          {% endif %}

          <div class="cart__total-title {% if section.settings.display_product_quantity_cart == false %}no-quantity-box{% endif %}">
            <h3>{{'cart.general.total' | t }}</h3>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="cart__item-list one-whole column medium-down--one-whole">
          {% assign total_saving = 0 %}
          {% for item in cart.items %}
            {% if item.variant.compare_at_price > item.variant.price %}
              {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
              {% assign total_saving = saving | plus: total_saving %}
            {% endif %}
			{% assign off = item.title | split: '100%' %}
          	{% assign pro_off = off[1] | remove: ')' | remove: ' ' %}
          	{% if item.product.tags contains 'gwp' %}
          	{% assign free = 'bath_soak_mini' %}
          	{% elsif item.product.tags contains 'under10' %}
            {% assign free = 'free_gift_packetts' %}
            {% elsif item.product.tags contains 'above12' %}
            {% assign free = 'BBLYSTGWP' %}
          	{% endif %}
<!--             <div class="cart__card container is-align-center" data-all-id="{{ item.id }}" data-cart-item="{{ item.key }}" data-var-name="{% if item.final_price == 0 %}{{ free }}{% endif %}" data-line-item="{{ forloop.index }}" data-price="{{ item.final_price }}" {% if item.product.tags contains 'free_gift_packetts' %}data-product-tag="free_gift_packetts"{% endif %} {% if item.product.tags contains 'BBLYSTGWP' %}data-product-tag="BBLYSTGWP"{% endif %} {% if item.product.tags contains 'bath_soak_mini' %}data-product-tag="bath_soak_mini"{% endif %}> -->
          <div class="cart__card container is-align-center" data-all-id="{{ item.id }}" data-cart-item="{{ item.key }}" data-product-tag="{% if item.final_price == 0 %}{{ free }}{% endif %}" data-line-item="{{ forloop.index }}" data-price="{{ item.final_price }}">
              <div class="cart__image">
                <a href="{%if item.variant.metafields.secomapp.freegifts%}{{ item.product.url }}{%else%}{{ item.url }}{%endif%}" title="{{ item.title | remove: '/ Default Title'| remove: 'Default Title' | remove: '/ Default' | remove: 'Default' | replace: '(Freegifts)', ''  | escape }}" class="cart_page_image">
                  {% include 'image-element', image: item.image, alt: item.title, object_fit: true, max_height: 150 %}
                </a>
              </div>
              <div class="cart__info">
                <div class="cart__description">
                  <div class="cart__text">
                    <p class="item__title">
                      <a href="{%if item.variant.metafields.secomapp.freegifts%}{{ item.product.url }}{%else%}{{ item.url }}{%endif%}">{{ item.product.title }}
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                                </a>
                    </p>

                    {% unless item.variant.title contains "Title" %}
                      <p class="item__properties">
                        {% for option in item.product.options %}
                          <span>{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                        {% endfor %}
                      </p>
                    {% endunless %}

                    {% if item.properties %}
                      <p>
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                            {% if p.last contains '/uploads/' %}
                              <div>
                                {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                              </div>
                            {% else %}
                              <div>
                                {{ p.first }}: {{ p.last }}
                              </div>
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}

                  </div>

                </div>

                <div class="cart__price">
                  {% if item.line_level_discount_allocations.size < 1 %}
                  <p>
                    {% if item.original_price > 0 %}
                      
<span class="saso-cart-item-price" data-key="{{item.key}}"><span class="money {% if item.original_price < item.variant.compare_at_price %}sale{% endif %}">
                        {{ item.original_price | money | remove:'.00' }}
                      </span></span>

                      {% if item.original_price < item.variant.compare_at_price %}
                        <span class="money was-price">{{ item.variant.compare_at_price | money | remove:'.00' }}</span>
                      {% endif %}
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </p>
                  {% endif %}
                  {% comment %} Discounts for line items {% endcomment %}
                  {% if item.line_level_discount_allocations.size > 0 %}
                    
<span class="saso-cart-item-price" data-key="{{item.key}}"><p class="sale">{{ item.final_price | money | remove:'.00' }}</p></span>

                    {% if item.original_line_price > item.final_line_price %}
                      
<span class="saso-cart-item-price" data-key="{{item.key}}"><s class="original-price">{{ item.original_price | money | remove:'.00' }}</s></span>

                    {% endif %}
                    {% for discount_allocation in item.line_level_discount_allocations %}
                      <div class="line-item-discount__container">
                        <p>{{ discount_allocation.discount_application.title }}</p>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>

                {% if section.settings.display_product_quantity_cart %}
                  <div class="cart__quantity">
                    <div class="purchase-details__quantity product-quantity-box" data-line-item-key={{ forloop.index }}>
                      {% if item.final_line_price > 0 %}
                      {% include 'quantity-box', size: 'is-medium', variant: item.variant %}
                      {% else %}
                      <p class="inclu">1 Included</p>
                      {% endif %}
                    </div>
                    <p class="cart__quantity-warning quantity-warning">
                  </div>
                {% endif %}

                <div class="cart__total">
                  <p>
                    {% if item.final_line_price > 0 %}
                      
<span class="saso-cart-item-line-price" data-key="{{item.key}}"><span class="">{{ item.final_line_price | money | remove:'.00' }}</span></span>

                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="cart__remove">
                <a class="cart__remove-btn is-inline-flex is-align-center is-justify-center ajax-cart__delete" data-cart-page-delete data-cart-item-key="{{ item.key }}" data-line-item-key={{ forloop.index }} href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" >
                  <button class="close" aria-label="close">
                    {% include settings.icon, name: 'x' %}
                  </button>
                </a>
              </div>
            </div>
          {% endfor %}
        {% if settings.free_sample_threshhold != blank%}
        
        
        	{% assign newtotal = 0 %}
        	{% for item in cart.items %}
            {% if item.gift_card == true %}
              {% assign newtotal = cart_total | minus: item.price %}
            {% endif %}
          {% endfor %}
         
          <div class="cart__card container is-align-center" data-title="{{ settings.free_sample_threshhold | remove: '$' | append: '00' }}">
            {% assign threshold2 = settings.free_sample_threshhold | remove: '$' | append: '00' |  plus: 0  %}
            {% assign threshold = threshold2 | plus: 0  %}
            
            {% if cart_total >= threshold %}
              <div class="row unlocked" data="{{threshold2}}" data-total="{{ cart_total }}">
                <div class="col-md-12 unbtn">
                  <strong style="color:#B11717;font-size: 20px;">SELECT YOUR FREE GIFT!</strong>
                  <span class="arr-drop">
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="15px" width="15px" fill="#000000" version="1.0" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M47,73.7L6.5,33.2C4.8,31.5,4.5,28.8,6,27c1.7-2.1,4.8-2.2,6.7-0.3L47,61c1.6,1.6,4.3,1.6,5.9,0l34.3-34.3   c1.8-1.8,4.6-1.8,6.4,0c1.8,1.8,1.8,4.6,0,6.4L53,73.7C51.3,75.4,48.7,75.4,47,73.7z"/></g></svg>
                    <span class="cross">X</span>
                  </span>
                </div>
                <div class="col-md-12 gifts">
                	<div class="cart_fre_gifts_section section__wrapper section ">
                    {% assign freeprodcuts = collections[settings.free_sample_gwp].products %}
                    <div class="d-flex">
                      {% for freeproduct in freeprodcuts %}
                        <div class="product_grid">
                            <div class="p_img">
                                <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                            </div>
                            <div class="p_info">
                                <span class="p_title">{{ freeproduct.title }}</span>
                              {% if freeproduct.has_only_default_variant %}
          <!--                       	<span class="p_price">{{ freeproduct.price | money }}</span> -->
                              {% else %}
          <!--                     	<span class="p_price variants">{{ freeproduct.variants[1].price | money }}</span> -->
                              {% endif %}
                            </div>
                            <div class="add_to_cart_section">
                              {% if freeproduct.has_only_default_variant %}
                                <button id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add to Cart</button>
                              {% else %}
                                <button id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add to Cart</button>
                              {% endif %}
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div> 
                </div>
              </div>
            
              <strong class="hide_now free_txt">Spend ${{ settings.free_sample_threshhold | remove: '$' }}+ and receive a free gift!</strong>
            {% else %}
              <strong class="free_txt">Spend ${{ settings.free_sample_threshhold | remove: '$' }}+ and receive a free gift!</strong>
              <div class="row unlocked hide_now" data="{{threshold2}}">
                <div class="col-md-12 unbtn">
                  <strong style="color:#B11717;font-size: 20px;">SELECT YOUR FREE GIFT!</strong>
                  <span class="arr-drop">
                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="15px" width="15px" fill="#000000" version="1.0" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M47,73.7L6.5,33.2C4.8,31.5,4.5,28.8,6,27c1.7-2.1,4.8-2.2,6.7-0.3L47,61c1.6,1.6,4.3,1.6,5.9,0l34.3-34.3   c1.8-1.8,4.6-1.8,6.4,0c1.8,1.8,1.8,4.6,0,6.4L53,73.7C51.3,75.4,48.7,75.4,47,73.7z"/></g></svg>
                    <span class="cross">X</span>
                  </span>
                </div>
                
                <div class="col-md-12 gifts">
                	<div class="cart_fre_gifts_section section__wrapper section ">
                    {% assign freeprodcuts = collections[settings.free_sample_gwp].products %}
                    <div class="d-flex">
                      {% for freeproduct in freeprodcuts %}
                        <div class="product_grid">
                            <div class="p_img">
                                <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                            </div>
                            <div class="p_info">
                                <span class="p_title">{{ freeproduct.title }}</span>
                              {% if freeproduct.has_only_default_variant %}
          <!--                       	<span class="p_price">{{ freeproduct.price | money }}</span> -->
                              {% else %}
          <!--                     	<span class="p_price variants">{{ freeproduct.variants[1].price | money }}</span> -->
                              {% endif %}
                            </div>
                            <div class="add_to_cart_section">
                              {% if freeproduct.has_only_default_variant %}
                                <button id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add to Cart</button>
                              {% else %}
                                <button id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add to Cart</button>
                              {% endif %}
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
          <div class="cart__cost-summary container is-flex-column">
            <div class="column eight offset-by-eight medium-down--one-whole">
              {%- if cart.cart_level_discount_applications != blank -%}
                <div class="cart__discounts cart__row">
                  {%- for discount_application in cart.cart_level_discount_applications -%}
                    <div class="cart__row-description">
                      <p class="cart__discount-title">{{- discount_application.title -}}</p>
                    </div>
                    <p class="cart__discount">
                      <span class="">-{{ discount_application.total_allocated_amount | money | remove:'.00' }}</span>
                    </p>
                  {%- endfor -%}
                </div>
              {%- endif -%}
              <div class="cart__subtotal-container cart__row">
                <div class="cart__row-description">
                  <p class="h3">{{ 'cart.general.subtotal' | t }}:</p>
                </div>
                <p class="h3 cart__subtotal">
                  
<span class="saso-cart-original-total"><span class="">{{ cart.total_price | money | remove:'.00' }}</span></span>
<span class="saso-cart-total"></span>

                </p>
              </div>
              {% if section.settings.display_savings and total_saving > 0 %}
                <div class="cart__total-savings cart__row">
                  <div class="cart__row-description">
                    <p class="cart">{{ 'layout.general.savings' | t }}:</p>
                  </div>
                  <p class="cart__total-discount">
                    <span class="">{{ total_saving | plus: cart.total_discount | money | remove:'.00' }}</span>
                  </p>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="container has-no-side-gutter has-padding-top">
            <div class="two-thirds column medium-down--one-whole has-padding-bottom">
              {% if settings.display_special_instructions %}
                <span class="cart__notes">
                    <div class="field">
                      <label class="visuallyhidden" for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
                      <div class="control">
                        <textarea class="textarea" id="note" name="note" rows="3" placeholder="{{ 'cart.general.note_detailed' | t: shop_name: shop.name }}">{{ cart.note }}</textarea>
                      </div>
                    </div>
                </span>
              {% endif %}
            </div>
            <div class="one-third column medium-down--one-whole">
              <div class="cart__price-breakdown {% if settings.display_tos_checkbox %}js-tos-enabled{% endif %}">
                  {% if section.settings.cart_message != blank %}
                    <div class="cart__cart-message is-flex is-justify-end">
                      {{ section.settings.cart_message }}
                    </div>
                  {% endif %}

                  <div class="cart__checkout-container">
                    <div class="is-flex is-align-center cart__checkout-elements">
                      {% if settings.display_tos_checkbox %}
                        <div class="cart__tos">
                          <div class="field">
                            <label class="tos_label" for="cart_agree">
                              <input type="checkbox" class="tos_agree" id="cart_agree" required />
                              {{ 'cart.general.agree_to_terms_html' | t }}
                            </label>
                            {% if settings.tos_page != blank %}
                              <div class="cart__view-terms-container">
                                <a href="{{ pages[settings.tos_page].url }}" class="text-align-right" target="_blank"  rel="noopener">{{ 'cart.general.view_terms' | t }}</a>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="is-flex is-align-center is-justify-end cart__buttons">
                      <div class="cart__checkout">
                        <input type="submit" class="button add_to_cart checkout" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
                      </div>
                    </div>
                    <div class="is-flex is-align-center is-justify-end">
                      {% if content_for_additional_checkout_buttons %}
                        <div class="additional-checkout-buttons">
                          {{ content_for_additional_checkout_buttons }}
                        </div>
                      {% endif %}
                    </div>
                    <div class="is-flex is-align-center is-justify-end">
                      {% if cart.item_count > 0 %}
                        <div class="cart__featured-links">
                          <a href="{{ routes.all_products_collection_url }}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
                        </div>
                      {% endif %}
                    </div>
                  </div>

              </div>
            </div>
            
          </div>
        
        <!--TrustedSite Code-->

<div style="text-align: center">
<div class="trustedsite-trustmark" data-type="212" data-width="110"  data-height="45"></div>
        </div>

<!--TrustedSite Code-->

        </div>
      </div>
    </form>
  </div>

  {% if settings.enable_shipping_calculator == true %}
    <div class="container">
      <div class="one-whole column">
        {% include 'shipping-calculator' %}
      </div>
    </div>
  {% endif %}

</section>

<div class="container is-justify-center has-padding-top cart__blocks">
  {% for block in section.blocks %}
    {% if block.type == 'featured_collection' %}
      <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }} class="shopify-section cart__block block__{{ block.type | downcase | replace: '_', '-' }} featured-collection-section jsFeaturedCollection">
        {% include 'include-featured-collection', type: 'block' %}
        {% comment %}JavaScript{% endcomment %}
          <script
              type="application/json"
              data-section-id="{{ block.id }}"
              data-section-data
          >
            {
              "collection_style": {{ layout | json }},
              "products_per": {{ block.settings.products_per_row | json}},
              "products_available": {{ collections[col].all_products_count | json }},
              "products_limit": {{ block.settings.products_limit | json }},
              "align_height": {{ block.settings.align_height | json }}
            }
          </script>
          <script src="{{ 'z__jsFeaturedCollection.js' | asset_url }}"></script>
      </div>
    {% elsif block.type == 'featured_product' %}
      <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }} class="shopify-section cart__block block__{{ block.type | downcase | replace: '_', '-' }} featured-product-section jsProduct">
        {% include 'include-featured-product', type: 'block' %}
        <script
              type="application/json"
              data-section-id="{{ block.id }}"
              data-section-data
          >
            {
              "gallery_arrows": {{ block.settings.gallery_arrows | json }},
              "thumbnail_arrows": {{ block.settings.gallery_arrows | json }},
              "enable_zoom": {{ block.settings.enable_zoom | json }},
              "enable_product_lightbox": {{ block.settings.enable_product_lightbox | json }},
              "slideshow_speed": {{ block.settings.slideshow_speed | json }},
              "slideshow_animation": {{ block.settings.slideshow_animation | json }},
              "image_position": {{ block.settings.image_position | json }},
              "thumbnail_slider": {{ block.settings.enable_thumbnail_slider | json }},
              "product_images_amount": {{ product.images.size }},
              "template": "featured-product-section"
            }
          </script>
      </div>
    {% elsif block.type == 'text' %}
      <div id="shopify-section-{{ block.id }}" {{ block.shopify_attributes }} class="shopify-section cart__block block__{{ block.type | downcase | replace: '_', '-' }}">
        {% include 'include-rich-text', type: 'block' %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content 1">
    <div class="cart_modal_header">
      <p><span class="cart_modal_heading">Choose Free Samples</span></p>
      <span class="modal_close close">&times;</span>
    </div>
    <div class="cart_modal_body">

     
      {% if cart_total >= free_sample_price %}
          <div class="cart_fre_gifts_section section__wrapper section ">
            {% comment %}
            {% assign freeprodcuts = collections['free-gift-collection'].products %}
            {% endcomment %}
            <!-- {% assign freeprodcuts = collections[settings.free_sample1].products %} -->
            {% assign freeprodcuts2 = collections[settings.free_sample2].products %}
            <div class="d-flex">
            <!-- {% for freeproduct in freeprodcuts %}
              <div class="product_grid first" data-pro-id="{{ freeproduct.variants[1].id }}">
                  <div class="p_img">
                      <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                  </div>
                  <div class="p_info">
                      <span class="p_title">{{ freeproduct.title }}</span>
                    {% if freeproduct.has_only_default_variant %}
                      	<span class="p_price">{{ freeproduct.price | money | remove:'.00' }}</span>
                    {% else %}
                    	<span class="p_price variants">{{ freeproduct.variants[1].price | money | remove:'.00' }}</span>
                    {% endif %}
                  </div>
                  <div class="add_to_cart_section">
                    {% if freeproduct.has_only_default_variant %}
                      <button class="vt" id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add</button>
                    {% else %}
                    	<button class="vt" id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add</button>
                    {% endif %}
                    <button class="al_ad">Added</button>
                  </div>
              </div>
            {% endfor %} -->
              {% for freeproduct in freeprodcuts2 %}
                <div class="product_grid second" data-pro-id="{{ freeproduct.variants[1].id }}">
                    <div class="p_img">
                        <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                    </div>
                    <div class="p_info">
                        <span class="p_title">{{ freeproduct.title }}</span>
                      {% if freeproduct.has_only_default_variant %}
                          <span class="p_price">{{ freeproduct.price | money | remove:'.00' }}</span>
                      {% else %}
                          <span class="p_price variants">{{ freeproduct.variants[1].price | money | remove:'.00' }}</span>
                      {% endif %}
                    </div>
                    <div class="add_to_cart_section">
                      {% if freeproduct.has_only_default_variant %}
                        <button class="vt" id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add</button>
                      {% else %}
                          <button class="vt" id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add</button>
                      {% endif %}
                      <button class="al_ad">Added</button>
                    </div>
                </div>
              {% endfor %}
              </div>
            </div>
            {% endif %}

            <!-- {% if cart_total == free_sample_price %}
            <div class="cart_fre_gifts_section section__wrapper section ">
              
              {% assign freeprodcuts = collections[settings.free_sample1].products %}
              <div class="d-flex">
              {% for freeproduct in freeprodcuts %}
                <div class="product_grid" data-pro-id="{{ freeproduct.variants[1].id }}">
                    <div class="p_img">
                        <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                    </div>
                    <div class="p_info">
                      <span class="p_title">{{ freeproduct.title }}</span>
                    {% if freeproduct.has_only_default_variant %}
                      	<span class="p_price">{{ freeproduct.price | money | remove:'.00' }}</span>
                    {% else %}
                    	<span class="p_price variants">{{ freeproduct.variants[1].price | money | remove:'.00' }}</span>
                    {% endif %}
                    </div>
                    <div class="add_to_cart_section">
                      {% if freeproduct.has_only_default_variant %}
                        <button id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add to Cart</button>
                      {% else %}
                          <button id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add to Cart</button>
                      {% endif %}
                    </div>
                </div>
              {% endfor %}
              </div>
            </div>
            {% endif %} -->
        </div>
    	<div class="cart_modal_footer">
          	<button class="add_to_cart_all">Add to your order</button>
          	<a href="#" id="close_popup">Cancel</a>
    	</div>
      </div>
  <div class="modal-content 2">
    <div class="cart_modal_header">
      <p><span class="cart_modal_heading">Choose Free Samples</span></p>
      <span class="modal_close close">&times;</span>
    </div>
    <div class="cart_modal_body">
    	
     
      {% if cart_total >= free_sample_price %}
          <div class="cart_fre_gifts_section section__wrapper section ">
            
            {% assign freeprodcuts2 = collections[settings.free_sample2].products %}
            <div class="d-flex">
            
              {% for freeproduct in freeprodcuts2 %}
                <div class="product_grid first" data-pro-id="{{ freeproduct.variants[1].id }}">
                    <div class="p_img">
                        <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                    </div>
                    <div class="p_info">
                        <span class="p_title">{{ freeproduct.title }}</span>
                      {% if freeproduct.has_only_default_variant %}
                          <span class="p_price">{{ freeproduct.price | money | remove:'.00' }}</span>
                      {% else %}
                          <span class="p_price variants">{{ freeproduct.variants[1].price | money | remove:'.00' }}</span>
                      {% endif %}
                    </div>
                    <div class="add_to_cart_section">
                      {% if freeproduct.has_only_default_variant %}
                        <button class="vt" id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add</button>
                      {% else %}
                          <button class="vt" id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add</button>
                      {% endif %}
                      <button class="al_ad">Added</button>
                    </div>
                </div>
              {% endfor %}
              </div>
            </div>
            {% endif %}

            <!-- {% if cart_total == 1000 %}
            <div class="cart_fre_gifts_section section__wrapper section ">
              {% assign freeprodcuts = collections[settings.free_sample1].products %}
              <div class="d-flex">
              {% for freeproduct in freeprodcuts %}
                <div class="product_grid" data-pro-id="{{ freeproduct.variants[1].id }}">
                    <div class="p_img">
                        <img src="{{ freeproduct.images[0] | img_url: "300x300"}}"/>
                    </div>
                    <div class="p_info">
                      <span class="p_title">{{ freeproduct.title }}</span>
                    {% if freeproduct.has_only_default_variant %}
                      	<span class="p_price">{{ freeproduct.price | money | remove:'.00' }}</span>
                    {% else %}
                    	<span class="p_price variants">{{ freeproduct.variants[1].price | money | remove:'.00' }}</span>
                    {% endif %}
                    </div>
                    <div class="add_to_cart_section">
                      {% if freeproduct.has_only_default_variant %}
                        <button id="addtocart" data-id="{{ freeproduct.variants.first.id }}">Add to Cart</button>
                      {% else %}
                          <button id="addtocart variants" data-id="{{ freeproduct.variants[1].id }}">Add to Cart</button>
                      {% endif %}
                    </div>
                </div>
              {% endfor %}
              </div>
            </div>
            {% endif %} -->
        </div>
    	<div class="cart_modal_footer">
          	<button class="add_to_cart_all">Add to your order</button>
          	<a href="#" id="close_popup">Cancel</a>
    	</div>
      </div>

</div>

{% comment %}JavaScript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "shipping": {
      "multiple_rates": {{ 'cart.shipping_calculator.multiple_rates' | t: number_of_rates: '*number_of_rates*', address: '*address*', rate: '*rate*' | json }},
      "one_rate": {{ 'cart.shipping_calculator.one_rate' | t: address: '*address*' | json }},
      "no_rates": {{ 'cart.shipping_calculator.no_rates' | t | json }},
      "rate_value": {{ 'cart.shipping_calculator.rate_value' | t: rate_title: '*rate_title*', rate: '*rate*'  | json }}
    }
  }
</script>
<script src="{{ 'z__jsCart.js' | asset_url }}"></script>
<script src="{{ 'z__jsShippingCalculator.js' | asset_url }}"></script>

{% schema %}

{
  "name": "Cart",
  "class": "cart-section jsCart jsShippingCalculator",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_product_quantity_cart",
      "label": "Show quantity box",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
        "type": "header",
        "content": "Product"
        },
        {
          "type": "range",
          "id": "products_per",
          "label": "Products per row",
          "min": 2,
          "max": 7,
          "default": 5
        },
        {
          "type": "select",
          "id": "mobile_products_per_row",
          "label": "Products per row on mobile",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ],
          "default": "1"
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "Limit products",
          "min": 3,
          "max": 50,
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "align_height",
          "label": "Align to height"
        },
        {
          "type": "range",
          "id": "collection_height",
          "label": "Product image height",
          "min": 150,
          "max": 400,
          "step": 10,
          "default": 200,
          "unit": "px",
          "info": "Applied when 'Align to height' is enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022543913)"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "radio",
          "id": "collection_style",
          "label": "Collection layout",
          "default": "grid",
          "options": [
            {
              "value": "slider",
              "label": "Slider"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ],
          "default": "grid"
        },
        // {
        //   "type": "checkbox",
        //   "id": "enable_masonry_layout",
        //   "label": "Enable masonry layout",
        //   "default": false,
        //   "info": "Applied on grid layout"
        // },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "wide",
          "options": [
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_gutter",
          "label": "Show gutter",
          "default": true
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Top spacing",
          "min": 0,
          "max": 80,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Bottom spacing",
          "min": 0,
          "max": 80,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "animation",
          "label": "Animation",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "Fade in"
            },
            {
              "value": "fadeInDown",
              "label": "Fade in down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade in left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade in right"
            },
            {
              "value": "slideInLeft",
              "label": "Slide in left"
            },
            {
              "value": "slideInRight",
              "label": "Slide in right"
            }
          ]
        }
      ]
    },
    {
      "type": "featured_product",
      "name": "Featured product",
      "settings": [
        {
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Product gallery"
        },
        {
          "type": "checkbox",
          "id": "gallery_arrows",
          "label": "Show arrows",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_zoom",
          "label": "Magnify on hover",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_product_lightbox",
          "label": "Enable lightbox",
          "default": true
        },
        {
          "type": "range",
          "id": "slideshow_speed",
          "label": "Gallery speed",
          "min": 0,
          "max": 6,
          "unit": "sec",
          "default": 0,
          "info": "Set to 0 to disable autoplay."
        },
        {
          "type": "select",
          "id": "slideshow_transition",
          "label": "Gallery transition",
          "options": [
            {
              "value": "slide",
              "label": "Slide"
            },
            {
              "value": "fade",
              "label": "Fade"
            }
          ],
          "default": "slide"
        },
        {
          "type": "select",
          "id": "thumbnail_position",
          "label": "Thumbnails",
          "default": "bottom-thumbnails",
          "options": [
            {
              "value": "left-thumbnails",
              "label": "Left"
            },
            {
              "value": "right-thumbnails",
              "label": "Right"
            },
            {
              "value": "bottom-thumbnails",
              "label": "Bottom"
            },
            {
              "value": "no-thumbnails",
              "label": "None"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "enable_thumbnail_slider",
          "label": "Enable thumbnail slider",
          "default": true
        },
        {
          "type": "radio",
          "id": "product_images_position",
          "label": "Gallery position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "header",
          "content": "Product information"
        },
        {
          "type": "checkbox",
          "id": "display_vendor",
          "label": "Show vendor",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "display_sku",
          "label": "Show SKU",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_shopify_product_badges",
          "label": "Show star rating",
          "info": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "display_savings",
          "label": "Show price savings",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "default": true,
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show description",
          "default": true
        },
        {
          "type": "radio",
          "id": "product_description_position",
          "label": "Description position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Above 'add to cart'"
            },
            {
              "value": "bottom",
              "label": "Below 'add to cart'"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "display_collections",
          "label": "Show collections",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "display_type",
          "label": "Show type",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "display_tags",
          "label": "Show tags",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "display_social_buttons",
          "label": "Show social media share icons",
          "default": true
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "standard",
          "options": [
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Top spacing",
          "min": 0,
          "max": 80,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Bottom spacing",
          "min": 0,
          "max": 80,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "animation",
          "label": "Animation",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "Fade in"
            },
            {
              "value": "fadeInDown",
              "label": "Fade in down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade in left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade in right"
            },
            {
              "value": "slideInLeft",
              "label": "Slide in left"
            },
            {
              "value": "slideInRight",
              "label": "Slide in right"
            },
            {
              "value": "zoomIn",
              "label": "Zoom in"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Rich text",
      "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Catchy heading"
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Font",
          "default": "open_sans_n4"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "select",
          "id": "heading_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "justify",
              "label": "Justify"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "Size",
          "min": 20,
          "max": 120,
          "default": 30,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to create some callout text on your page, or add more details about your shop, services, promotions, etc.<br>You can keep the background color solid or use a background image instead.</p>"
        },
        {
          "type": "font_picker",
          "id": "text_font",
          "label": "Font",
          "default": "open_sans_n4"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "justify",
              "label": "Justify"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Size",
          "min": 8,
          "max": 40,
          "default": 14,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "columns",
          "label": "Columns",
          "min": 1,
          "max": 3,
          "default": 1
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Read more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "options": [
            {
              "value": "button--primary",
              "label": "Primary"
            },
            {
              "value": "button--secondary",
              "label": "Secondary"
            },
            {
              "value": "button--link-style",
              "label": "Link style"
            }
          ],
          "default": "button--primary"
        },
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#EEEEEE"
        },
        {
          "type": "color",
          "id": "gradient",
          "label": "Gradient",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "range",
          "id": "gradient_rotation",
          "label": "Gradient rotation",
          "min": 0,
          "max": 180,
          "step": 10,
          "default": 0,
          "unit": "deg"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "standard",
          "options": [
            {
              "value": "half",
              "label": "Half"
            },
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Top spacing",
          "min": 0,
          "max": 80,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Bottom spacing",
          "min": 0,
          "max": 80,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_left",
          "label": "Left spacing",
          "min": 0,
          "max": 80,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_right",
          "label": "Right spacing",
          "default": 0,
          "min": 0,
          "max": 80,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "animation",
          "label": "Animation",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "fadeIn",
              "label": "Fade in"
            },
            {
              "value": "fadeInDown",
              "label": "Fade in down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade in left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade in right"
            },
            {
              "value": "slideInLeft",
              "label": "Slide in left"
            },
            {
              "value": "slideInRight",
              "label": "Slide in right"
            },
            {
              "value": "zoomIn",
              "label": "Zoom in"
            }
          ]
        }
      ]
    }
  ]
}

{% endschema %}
