{% schema %}
  {
    "name": "Free Products",
    "settings": [],
	"blocks" : [
     {
       "name": "gwp",
       "type": "slide",
       "settings": [
         {
           "type": "product",
           "id": "product",
           "label": "GWP Product"
         }
       ]
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
