{% comment %}
** Search page and results - main content area **
- Template section
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% style %}
  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' -%}
      width: 100%;
      max-width: 95%;
    {%- endif %}
  }

  {% if section.settings.search_breadcrumb == false %}
    .breadcrumb__container {
      display: none;
    }
  {% endif %}

  {% if section.settings.pagination_type != 'basic_pagination' %}
    .breadcrumb__page-count {
      display: none !important;
    }
  {% endif %}

  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% assign search_pagination = section.settings.pagination_limit %}
{% paginate search.results by search_pagination %}

<main class="{{ css_class }}
            is-width-{{ width }}
            ">

  {% if search.performed %}
    <div class="container">
      <div class="one-whole column">
        <h3 class="search__results-count has-padding-bottom">
          {% if search.results_count == 0 %}
            {{ 'general.search.results_count.zero' | t: count: search.results_count }}
          {% elsif search.results_count == 1 %}
            {{ 'general.search.results_count.one' | t: count: search.results_count }}
          {% else %}
            {{ 'general.search.results_count.other' | t: count: search.results_count }}
          {% endif %}
        </h3>
      </div>
    </div>

    {% if search.results == empty %}
      {% comment %} No results {% endcomment %}
      <div class="search__no-results container">
        <div class="one-whole column text-align-center has-padding-bottom">
          <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        </div>
      </div>

      <div class="container">
        <div class="one-whole column">
          <form class="search-form" action="{{ routes.search_url }}">
            <div class="search__fields">
              {% if settings.search_option != 'everything' %}
                <input class="visuallyhidden" type="text" name="type" value="product" />
              {% endif %}
              <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
              <div class="field">
                <div class="control has-icons-left is-relative">
                  {% if settings.enable_autocomplete == true %}
                    <ul class="predictive-results"></ul>
                  {% endif %}
                  <input class="input" id="q" type="text" name="q" placeholder="{{ settings.search_placeholder }}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                  {% include settings.icon, name: 'search', class: 'icon is-left' %}
                </div>
              </div>
              <input type="submit" name="search" class="visuallyhidden" value="" />
            </div>
          </form>
        </div>
      </div>
    {% else %}
      {% comment %}Show all search results (including pages){% endcomment %}
      {% if settings.search_option == 'everything' or search.results.first.price == blank %}
        <div class="search__results" {% if section.settings.pagination_type != 'basic_pagination' %}data-load-more--grid {% endif %}>
          {% for item in search.results %}
            {% include 'sca_freegift_price' with item %}
            <div class="search__item container has-padding-bottom" {% if section.settings.pagination_type != 'basic_pagination' %}data-load-more--grid-item{% endif %}>
              {% assign featured_image = false %}

              {% if item.object_type == 'article' and item.image %}
                {% assign featured_image = true %}
                <div class="one-fourth column search-result__image-container small-down--one-whole">
                  <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    {% include 'image-element', image: item.image, alt: item.image.alt %}
                  </a>
                </div>
              {% elsif item.featured_image %}
                {% assign featured_image = true %}
                <div class="one-fourth column search-result__image-container small-down--one-whole">
                  <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    {% include 'image-element', image: item.featured_image, alt: item.featured_image.alt %}
                    <span id="secomapp-fg-image-{{ item.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </span>
                    <span class="sca-fg-cat-list prod-show-list" style="display:none;" id="secomapp-fg-data-{{ item.id }}"> </span>
                  </a>
                </div>
              {% endif %}

              <div class="search-result__description {% if featured_image %}three-fourths{% else %}one-whole{% endif %} small-down--one-whole column">
                <h5 class="search-result__title">
                  <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
                </h5>

                {% if item.original_price %}
                  <div class="info">
                    <span class="price {% if sca_compare_at_price_max > item.original_price %}sale{% endif %}">
                      {% if item.available %}
                        {% if sca_price_varies and sca_price_min > 0 %}
                          <small><em>{{ 'products.general.from' | t }}</em></small>
                        {% endif %}
                        {% if sca_price_min > 0 %}
                          <span class="money">{{ sca_price_min | money }}</span>
                        {% else %}
                          {{ settings.free_price_text }}
                        {% endif %}
                        {% if sca_compare_at_price_max > sca_price %}
                          <span class="was-price">
                            <span class="money">{{ sca_compare_at_price_max | money }}</span>
                          </span>
                        {% endif %}
                      {% else %}
                        <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                      {% endif %}
                    </span>
                  </div>
                {% endif %}

                {% if item.object_type == 'article' %}
                  <div class="blog_meta">
                    {% if section.settings.blog_author %}
                      <p>{{ 'blogs.article.by_author' | t: author: item.author }}</p>
                    {% endif %}

                    {% if section.settings.blog_date %}
                      <p>{{ item.published_at | date: format: "month_day_year" }}</p>
                    {% endif %}
                  </div>
                {% endif %}

                {% if item.excerpt %}
                  <div class="excerpt">{{ item.excerpt | strip_html | truncate: 500 }}</div>
                {% else %}
                  <p>
                    {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' }}
                  </p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="container">
          <div class="one-whole column text-align-center has-margin-bottom">
            {% include 'pagination', pagination_type: section.settings.pagination_type %}
          </div>
        </div>
        <div class="container">
          <div class="one-whole column">
            <div class="search__text-content content">
              {% if section.settings.text %}
                {{ section.settings.text }}
              {% endif %}
            </div>
            <form class="search-form" action="{{ routes.search_url }}">
              <div class="search__fields">
                {% if settings.search_option != 'everything' %}
                  <input class="visuallyhidden" type="text" name="type" value="product" />
                {% endif %}
                <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
                <div class="field">
                  <div class="control has-icons-left is-relative">
                    {% if settings.enable_autocomplete == true %}
                      <ul class="predictive-results"></ul>
                    {% endif %}
                    <input class="input" id="q" type="text" name="q" placeholder="{{ settings.search_placeholder }}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                    {% include settings.icon, name: 'search', class: 'icon is-left' %}
                  </div>
                </div>
                <input type="submit" name="search" class="visuallyhidden" value="" />
              </div>
            </form>
          </div>
        </div>

      {% else %}
        {% assign products = search.results %}
        {% assign products_per_row = section.settings.products_per_row %}
        <div class="container" {% if section.settings.pagination_type != 'basic_pagination' %}data-load-more--grid {% endif %}>
          {% assign limit = section.settings.pagination_limit %}
          {% include 'product-loop', align_height: section.settings.align_height, height: section.settings.collection_height %}
        </div>
        <div class="container">
          <div class="one-whole column text-align-center has-margin-bottom">
            {% include 'pagination' %}
          </div>
        </div>
        <div class="container">
          <div class="one-whole column">
            <form class="search-form" action="{{ routes.search_url }}">
              <div class="search__fields">
                {% if settings.search_option != 'everything' %}
                  <input class="visuallyhidden" type="text" name="type" value="product" />
                {% endif %}
                <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
                <div class="field">
                  <div class="control has-icons-left is-relative">
                    {% if settings.enable_autocomplete == true %}
                      <ul class="predictive-results"></ul>
                    {% endif %}
                    <input class="input" id="q" type="text" name="q" placeholder="{{ settings.search_placeholder }}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                    {% include settings.icon, name: 'search', class: 'icon is-left' %}
                  </div>
                </div>
                <input type="submit" name="search" class="visuallyhidden" value="" />
              </div>
            </form>
          </div>
        </div>

      {% endif %}
    {% endif %}

  {% else %}
    {% comment %} Default view (no search results) {% endcomment %}

    <div class="container">
      <div class="one-whole column">
        <div class="search__text-content content">
          {% if section.settings.text %}
            {{ section.settings.text }}
          {% endif %}
        </div>

        <form class="search-form" action="{{ routes.search_url }}">
          <div class="search__fields">
            {% if settings.search_option != 'everything' %}
              <input class="visuallyhidden" type="text" name="type" value="product" />
            {% endif %}
            <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
            <div class="field">
              <div class="control has-icons-left is-relative">
                {% if settings.enable_autocomplete == true %}
                  <ul class="predictive-results"></ul>
                {% endif %}
                <input class="input" id="q" type="text" name="q" placeholder="{{ settings.search_placeholder }}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                {% include settings.icon, name: 'search', class: 'icon is-left' %}
              </div>
            </div>
            <input type="submit" name="search" class="visuallyhidden" value="" />
          </div>
        </form>
      </div>
    </div>

  {% endif %}

</main>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_breadcrumb": {{ section.settings.search_breadcrumb | json }},
    "pagination_type": {{ section.settings.pagination_type | json }},
    "number_of_pages": {{ paginate.pages | json }}
  }
</script>

{% endpaginate %}

<script src="{{ 'z__jsSearch.js' | asset_url }}"></script>

{% schema %}

{
  "name": "Search",
  "class": "search-main has-sidebar-option jsSearch",
  "settings": [
    {
      "type": "checkbox",
      "id": "search_breadcrumb",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Find what you seek.</p>"
    },
    {
      "type": "header",
      "content": "Search results"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Results per row",
      "info": "Used for 'Products only' search results",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Results per row on mobile",
      "info": "Used for 'Products only' search results",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Results per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        {
          "value": "infinite_scroll",
          "label": "Infinite scroll"
        },
        {
          "value": "infinite_load_more",
          "label": "Infinite load more button"
        },
        {
          "value": "load_more",
          "label": "Load more button"
        },
        {
          "value": "basic_pagination",
          "label": "Page links"
        }
      ],
      "default": "basic_pagination"
    },
    {
      "type": "header",
      "content": "Product thumbnails"
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height"
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Product image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px",
      "info": "Applied when 'Align to height' is also enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022543913)"
    },
    {
      "type": "header",
      "content": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}

{% endschema %}
