{% layout none %}

<template data-options>
  {
    "item_count": {{ cart.item_count | json }}
  }
</template>

<template data-html="content">
  {% comment %} No items in the cart message {% endcomment %}
  <div class="ajax-cart__empty-cart-message text-align-center {% if cart.item_count > 0 %}is-hidden {% endif %}">
    <p class="ajax-cart__cart-title has-margin-bottom">{{ 'cart.general.title' | t }}
      <span class="cart__count--text" data-bind="itemCount" >{{ cart.item_count }}</span>
    </p>
    {% include settings.icon, name: settings.cart_icon %}
    <p class="ajax-cart__empty-text">{{ 'layout.general.empty_cart' | t }}</p>
    <a href="{{ routes.all_products_collection_url }}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
  </div>
  <span id="rbntst" data-total="{{ cart.original_total_price }}"></span>
  <form action="/cart" method="post"
          class="ajax-cart__form {% if cart.item_count == 0 %}is-hidden{% endif %}">
    <div class="ajax-cart__cart-count text-align-center">
      <div class="ajax-cart_left">
      		Your Cart
      </div>
      <div class="ajax-cart_right">
        	<a href="{{ routes.cart_url }}">View All</a>
      </div>
      <p class="ajax-cart__cart-title">{{ 'cart.general.title' | t }} <span class="cart__count--text" data-bind="itemCount" >{{ cart.item_count }}</span></p>
    </div>
    <div class="ajax-cart__list">
      {% assign total_saving = 0 %}

      {% comment %} Loop through cart products {% endcomment %}
      {% for item in cart.items %}
        {% if item.variant.compare_at_price > item.variant.price %}
          {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
          {% assign total_saving = saving | plus: total_saving %}
        {% endif %}
        {% assign off = item.title | split: '100%' %}
        {% assign pro_off = off[1] | remove: ')' | remove: ' ' %}
        {% if item.product.tags contains 'gwp' %}
        {% assign free = 'bath_soak_mini' %}
        {% elsif item.product.tags contains 'under10' %}
        {% assign free = 'free_gift_packetts' %}
        {% elsif item.product.tags contains 'above12' %}
        {% assign free = 'BBLYSTGWP' %}
        {% endif %}
        <div class="ajax-cart__product custom_tag media" data-cart-item="{{ item.key }}" data-price="{{ item.final_price }}" data-product-tag="{% if item.final_price == 0 %}{{ free }}{% endif %}" data-line-item="{{ forloop.index }}">
          {% comment %} Image {% endcomment %}
          <figure class="ajax-cart__product-image media-left">
            {% if item.image %}
              <a href="{{ item.url }}">
                {% include 'image-element', image: item.image, alt: item.title  %}
              </a>
            {% endif %}
          </figure>
          <div class="ajax-cart__product-content media-content">
            <div class="ajax-cart__product-title">
              <a href="{{ item.url }}">
                {{ item.product.title }}
                {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                  -
                  {% for option in item.product.options %}
                    {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                  {% endfor %}
                {% endunless %}
              </a>
            </div>
            <div class="ajax-cart__line-items">
              {% if item.properties %}
                {% for p in item.properties %}
                  {% if p.last != blank %}
                    <div class="ajax-cart__line-item">
                      {{ p.first }}: {{ p.last }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="ajax-cart__line-items-discount">
            {% if item.line_level_discount_allocations.size > 0 %}
              <div class="ajax-cart__price-comparison">
                <p class="sale">{{ item.final_price | money | remove:'.00' }}</p>
                {% if item.original_line_price > item.final_line_price %}
                  <s class="original-price">{{ item.original_price | money | remove:'.00' }}</s>
                {% endif %}
              </div>
              {% for discount_allocation in item.line_level_discount_allocations %}
                <div class="line-item-discount__container">
                  <p>{{ discount_allocation.discount_application.title }}</p>
                </div>
              {% endfor %}
            {% endif %}
            </div>

            {% if item.line_level_discount_allocations.size < 1 %}
            <div class="ajax-cart__price price">
              <span class="money {% if item.original_price < item.variant.compare_at_price %}sale{% endif %}">{{ item.original_line_price | money | remove:'.00' }}</span>
              {% if item.original_price < item.variant.compare_at_price %}
                {% assign total_line_saving = 0 %}
                {% assign line_saving = item.variant.compare_at_price | times: item.quantity %}
                {% assign total_line_saving = line_saving | plus: total_line_saving %}
                <span class="money was-price">
                  {{ total_line_saving | money | remove:'.00' }}
                </span>
              {% endif %}
            </div>
            {% endif %}

            {% if settings.display_ajax_quantity_box %}
              <div class="ajax-cart__quantity-box product-quantity-box" data-all-id="{{ item.id }}" data-line-item-key={{ forloop.index }}>
                {% include 'quantity-box', size: 'is-medium', variant: item.variant %}
              </div>
              <p class="ajax-cart__quantity-warning quantity-warning">
            {% endif %}

          </div>
          <div class="ajax-cart__right-content media-right">
            <a class="ajax-cart__delete" data-ajax-cart-delete data-price="{{ item.final_price }}" data-cart-item-key="{{ item.key }}" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" >
              <button class="close" aria-label="close">
                {% include settings.icon, name: 'x' %}
              </button>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="ajax-cart__details-wrapper">
      {%- if cart.cart_level_discount_applications != blank -%}
        <div class="cart__discounts ajax-cart__details-row is-flex is-justify-space-between sale">
        {%- for discount_application in cart.cart_level_discount_applications -%}
          <div class="ajax-cart__row-description">
            <p>{{- discount_application.title -}}</p>
          </div>
          <p class="ajax-cart__discount">
            <span class="money">- {{ discount_application.total_allocated_amount | money | remove:'.00' }}</span>
          </p>
        {%- endfor -%}
        </div>
      {%- endif -%}

      {% comment %} Subtotal {% endcomment %}
      <div class="ajax-cart__subtotal ajax-cart__details-row is-flex is-justify-space-between">
        <div class="ajax-cart__row-description">
          <span>{{ 'layout.general.subtotal' | t }} ({{ cart.item_count }} items)</span>
        </div>
        <span class="money">{{ cart.total_price | money | remove:'.00' }}</span>
      </div>

      {% comment %} Total savings {% endcomment %}
       {% assign total_saving = 0 %}
      
      {% for item in cart.items %}
      {% if item.variant.compare_at_price > item.variant.price %}
      {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
      {% assign total_saving = saving | plus: total_saving %}
      {% endif %}
      {% endfor %}
      
      {% if total_saving > 0 %}
        <div class="ajax-cart__savings ajax-cart__details-row is-flex is-justify-space-between sale">
          <div class="ajax-cart__row-description">
            <span>{{ 'layout.general.savings_mini_cart' | t }}</span>
          </div>
          <span class="money">{{ total_saving | plus: cart.total_discount | money | remove:'.00' }}</span>
        </div>
      {% endif %}

      {% comment %} Special instructions {% endcomment %}
      {% if settings.display_special_instructions and settings.go_to_checkout %}
        <!--textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="ajax-cart__note">{{ cart.note }}</textarea-->
      {% endif %}

      {% comment %} Terms of service checkbox {% endcomment %}
      {% if settings.display_tos_checkbox and settings.go_to_checkout %}
        <div class="ajax-cart__tos-checkbox text-align-center">
          <p class="tos">
          <input type="checkbox" class="tos_agree" id="sliding_agree" required />
            <label for="sliding_agree" class="tos_label">
              {{ 'cart.general.agree_to_terms_html' | t }}
            </label>
            {% if settings.tos_page != blank %}
              <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
            {% endif %}
        </p>
        </div>

      {% endif %}

      {% comment %} Checkout {% endcomment %}
      <div class="ajax-cart__button-wrapper text-align-center">
        {% if settings.go_to_checkout %}
          <button type="submit" class="ajax-cart__button button--add-to-cart button">{% if settings.show_lock_icon %}{% include settings.icon, name: 'lock' %}{% endif %}{{ 'layout.general.view_checkout' | t }}</button>
          <a class="ajax-cart__cart-link" href="{{ routes.cart_url }}" >{{ 'layout.general.go_to_cart' | t }}</a>
        {% else %}
          <a href="{{ routes.cart_url }}" class="ajax-cart__button button--add-to-cart button" >{% if settings.show_lock_icon %}{% include settings.icon, name: 'lock' %}{% endif %}{{ 'layout.general.go_to_cart' | t }} </a>
        {% endif %}
      </div>
      <div class="ajax_cart_message">
        <p class="samples_reward">	&#128588; See samples, rewards & promos in your <a href="{{ routes.cart_url }}">cart</a></p>
        {% if cart.total_price >= 7500 %}
        	<p><strong>FREE</strong> Shipping received!</p>
        {% endif %}
        {% if cart.total_price < 7500 %}
			{% assign threshold = 7500 %}
        	{%  assign newprice = threshold - cart.total_price %}
        	<p>Spend {{ newprice | money | remove:'.00' }}, receive FREE shipping</p>
        {% endif %}
      </div>
      {% comment %} Cart message {% endcomment %}
      {% if settings.cart_message != blank %}
        <div class="ajax-cart__cart-message text-align-center">
          {{ settings.cart_message }}
        </div>
      {% endif %}

    </div>
  </form>
</template>
