{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">
  <section class="section__wrapper
                  section
                  ">
    <div class="container" data-name="{{ page.handle }}">
      {% section 'page__main' %}
      {% if page.handle == "new-our-stores" %}
      <div class="ssw-html-widget ssw-instagram-widget" data-widget="0" data-gallery_id="2" data-force="1" data-type="slide" data-module="service"  data-name="instagramPhotos">
        <div class="ssw-page-loading"><span class="ssw-spin ssw-loader"></span></div>
      </div>
      {% endif %}
    </div>
  </section>
</main>

<input type="hidden" id="azat" value="{{ page.handle }}">
