{% comment %}
  Defaults to /sections/product-template.liquid, but default can be changed in Theme Settings > Layout > Product page default template
{% endcomment %}

{% if settings.product_layout == 'sections' %}
{% comment %} Product - sections {% endcomment %}
  <div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page">
    <section class="section__wrapper
                    section
                    is-width-wide
                    ">
      <div class="container">

        <div class="section is-width-standard">

          <div class="one-whole column breadcrumb__container is-flex is-justify-space-between is-flex-column-reverse-mobile is-align-center has-padding-bottom">

            <div class="breadcrumb__wrapper">
              {% include 'breadcrumb', type: 'product' %}
            </div>

            {% if collection.previous_product or collection.next_product %}
              <div class="page-navigation-arrows has-padding-top has-padding-bottom is-{{ settings.breadcrumb_capitalization }}">
                {% if collection.previous_product %}
                  <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="page-navigation__next">
                    {{ 'products.general.previous_product_html' | t }}
                  </a>
                {% endif %}
                {% if collection.previous_product and collection.next_product %}
                  <span class="page-navigation__divider"> | </span>
                {% endif %}
                {% if collection.next_product %}
                  <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="page-navigation__next">
                    {{ 'products.general.next_product_html' | t }}
                  </a>
                {% endif %}
              </div>
            {% endif %}

          </div>

        </div>
      </div>

      <div class="container">
        {% section 'product__sidebar' %}
        {% section 'product-sections__main' %}
        {% section 'product__recommendations' %}
        
        
      </div>

    </section>
  </div>

{% elsif settings.product_layout == 'image_scroll' %}
{% comment %} Product - image scroll {% endcomment %}
  <div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page">
    <section class="section
                    is-width-wide
                    has-padding-top
                    ">
      <div class="container has-padding-left has-padding-right">
        <div class="one-whole column breadcrumb__container is-flex is-justify-space-between is-flex-column-reverse-mobile is-align-center">

          <div class="breadcrumb__wrapper">
            {% include 'breadcrumb', type: 'product' %}
          </div>

          {% if collection.previous_product or collection.next_product %}
            <div class="page-navigation-arrows has-padding-top has-padding-bottom is-{{ settings.breadcrumb_capitalization }}">
              {% if collection.previous_product %}
                <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.previous_product_html' | t }}
                </a>
              {% endif %}
              {% if collection.previous_product and collection.next_product %}
                <span class="page-navigation__divider"> | </span>
              {% endif %}
              {% if collection.next_product %}
                <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.next_product_html' | t }}
                </a>
              {% endif %}
            </div>
          {% endif %}

        </div>
      </div>
      <div class="container">
        {% section 'product-image-scroll__main' %}
        {% section 'product__recommendations' %}
      </div>
    </section>
  </div>

{% else %}
{% comment %} Product - classic (default) {% endcomment %}
  <div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page section__wrapper">
    {% comment %} Breadcrumbs and navigation {% endcomment %}
    <section class="section
                    is-width-standard
                    has-padding-top
                    has-padding-bottom
                    ">
      <div class="container">
        <div class="one-whole column is-flex is-justify-space-between is-flex-column-reverse-mobile is-align-center">

          <div class="breadcrumb__container">
            {% include 'breadcrumb', type: 'product' %}
          </div>

          {% if collection.previous_product or collection.next_product %}
            <div class="page-navigation-arrows has-padding-top has-padding-bottom is-{{ settings.breadcrumb_capitalization }}">
              {% if collection.previous_product %}
                <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.previous_product_html' | t }}
                </a>
              {% endif %}
              {% if collection.previous_product and collection.next_product %}
                <span class="page-navigation__divider"> | </span>
              {% endif %}
              {% if collection.next_product %}
                <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.next_product_html' | t }}
                </a>
              {% endif %}
            </div>
          {% endif %}

        </div>
      </div>
    </section>

    {% comment %} Product wrapper {% endcomment %}
    <section class="section
                    section--has-sidebar-option">
      <div class="container">
        {% section 'product__sidebar' %}
        {% section 'product__main' %}
        {% section 'product__recommendations' %}
        
      </div>
    </section>
  </div>
{% endif %}
          
{% include 'seo-king-jsonld' %}
<script>
flickityInterval = setInterval('disableGalleryDrag()', 500);
function disableGalleryDrag(){
    try {
        if(jQuery('.3d-slide').length){
            //disable draggable for gallery
            $carousel = jQuery(".product-gallery__main").flickity();
            var flkty = $carousel.data('flickity');

            flkty.options.draggable = false;
            flkty.updateDraggable();

            clearInterval(flickityInterval);
        }
    }
    catch(err) {

    }
}
</script>