{% comment %}
  Classic product template (includes details sections)
{% endcomment %}

<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page section__wrapper">
    {% comment %} Breadcrumbs and navigation {% endcomment %}
    <section class="section
                    is-width-standard
                    has-padding-top
                    has-padding-bottom
                    ">
      <div class="container">
        <div class="one-whole column is-flex is-justify-space-between is-flex-column-reverse-mobile is-align-center">

          <div class="breadcrumb__container">
            {% include 'breadcrumb', type: 'product' %}
          </div>

          {% if collection.previous_product or collection.next_product %}
            <div class="page-navigation-arrows has-padding-top has-padding-bottom is-{{ settings.breadcrumb_capitalization }}">
              {% if collection.previous_product %}
                <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.previous_product_html' | t }}
                </a>
              {% endif %}
              {% if collection.previous_product and collection.next_product %}
                <span class="page-navigation__divider"> | </span>
              {% endif %}
              {% if collection.next_product %}
                <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="page-navigation__next">
                  {{ 'products.general.next_product_html' | t }}
                </a>
              {% endif %}
            </div>
          {% endif %}

        </div>
      </div>
    </section>

    {% comment %} Product wrapper {% endcomment %}
    <section class="section
                    section--has-sidebar-option">
      <div class="container {{ product.title }}">
        {% section 'product__sidebar' %}
        {% section 'product__main' %}
        {% section 'product__recommendations' %}
      </div>
    </section>
  </div>
